<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/static/css/gfm.css">
<link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h1>{{.Title}}</h1>
    <article class="markdown-body">
        {{.Content}}
    </article>
</body>

</html>